@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.debug nav {
    height: 30px;
}

.d-flex {
    display: flex;
}

.viewport {
    height: 100vh;
    background-color: rgb(231, 231, 231);
    position: relative;
}


nav {
    width: 100vw;
    background-color: rgb(32, 32, 32);
    position: absolute;
    bottom: 0;
    z-index: 999;
}

ul {
    color: white;
    list-style: none;
    gap: 1rem;
}